body {
    background-color: lightseagreen;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3.8rem;
}

ul {
    list-style-type: none;
}

/* Nav bar */
nav {
    text-align: center;
}

nav li {
    display: inline;
    margin: auto 15px;
}

nav a {
    padding: 8px;
    border: 5px solid white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    background-color: lightseagreen;
}

nav a:hover {
    background-color: white;
}

.logo {
    width: 13vw;
    height: 20vh;
    margin-top: 15px;
}

