body {
    background-color: lightseagreen;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3.8rem;
}

ul {
    list-style-type: none;
}

.logo {
    width: 13vw;
    height: 20vh;
}

